* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.ir_arriba{
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    position: fixed;
    font-size: 35px;
    color: #ffffff;
    z-index: 1;
}
.ir_arriba:hover{
    color: #ffe6bc;
    transition: .3s;
}
#inicio .navbar-toggler:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s;
}
#inicio .navbar{
    position: absolute;
}
#inicio .navbar i{
    margin-right: 10px;
}
#inicio .navbar-brand{
    margin: 0px 30px;
}
#inicio .navbar-brand:hover{
    transition: .3s;
    color: #ffe6bc;
}
#inicio {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/Fondo.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .presentacion h1 {
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}
#inicio.presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}
#inicio .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #ffe6bc;
    border-radius: 50%;
    color: #ffffff;
    font-weight: bold;
    transition: .3s;
}
#inicio .presentacion a:hover {
    background-color: #ffe6bc;
    color: #1e1e1e;
}
.presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.presentacion .descripcion{
    max-width: 500px;
    font-size: 20px;
    text-align: center;
}
.bienvenida {
    font-size: 38px;
    margin-bottom: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.nombre {
    color: #ffe6bc;
}



/* SECCION SKILLS */

#skills{
    overflow: hidden;
    background-color: #111111;
    padding: 100px 15px;
    text-align: center;
}
#skills .titulo-skills{
    font-size: 50px;
    color: #ffffff;
}
.logo-skills {
    height: 50px;
}
#skills .fila {
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
#skills .fila .skills{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
    transition: .5s;
    width: 300px;
    padding: 30px;
}
#skills .fila .skills:hover{
    box-shadow: 2px 2px 5px #565656, -2px -2px 5px #8a8a8a;
}
#skills .fila .skills .nombre-skills{
    font-size: 22px;
    margin-bottom: 25px;
    color: #ffffff;
    padding-top: 30px;
}
#skills .fila .skills .descripcion-skills{
    color: #ffe6bc;
}


/* SECCION PROYECTOS */
#proyectos{
    background-color: #111111;
    padding: 100px 0;
    margin: auto;
}
#proyectos .titulo-proyectos {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}
#proyectos .fila{
    justify-content: center;
    margin: auto;
    text-align: center;
}
#proyectos .fila .proyecto{
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 32px;
}
#proyectos .fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#proyectos .fila .proyecto:hover img{
    filter: grayscale(0);
}
#proyectos .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffe6bc;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
#proyectos .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

/** C O N T A C T O **/
#contacto {
    background-color: #111111;
    padding: 100px 15px;
}
#contacto .titulo-seccion {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}
#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form input textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input {
    width: 48%;
}
#contacto .contenedor-form .input-full {
    width: 100%;
}
#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 18px;
}
#contacto .btn-enviar:hover {
    background-color: #ffe6bc;
    color: #111111;
}

/** FOOTER **/
footer {
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
}
footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 20px;
    font-size: 30px;
}